* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  --day-darkest: rgb(4, 27, 118);
  --day-dark: rgb(10, 50, 210);
  --day-medium: rgb(37, 127, 244);
  --day-light: rgb(121, 226, 242);
  --day-lightest: rgb(171, 240, 233);

  --night-darkest: rgb(2, 10, 45);
  --night-dark: rgb(5, 23, 98);
  --night-medium: rgb(4, 53, 117);
  --night-light: rgb(46, 109, 193);
  --night-lightest: rgb(126, 137, 181);
}

html,
body {
  margin: 0;
  height: 100%;
  background: linear-gradient(
    var(--day-medium),
    var(--day-light),
    var(--day-lightest)
  );
}

.header-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: transparent;
}

.mode-toggle-container {
  justify-self: start;
  align-self: center;
  margin-left: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(171, 240, 233, 0.56);
  border-radius: 22px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--night-light);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
  color: var(--day-dark);
  padding: 20px;
  font-size: 3rem;
}

.weather-app-color {
  color: rgba(255, 255, 255, 0.855);
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 8px;
}

@media (max-width: 500px) {
  .search-container input[type="search"] {
    max-width: 100%;
    min-width: 60px;
    font-size: 1rem;
  }
}

.search-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.search-container input[type="search"] {
  padding: 8px;
  border: 1px solid #ccc;
  width: 100%;
  min-width: 180px;
  max-width: 500px;
  font-size: 1.1rem;
  border-radius: 11px;
  flex-grow: 1;
  box-sizing: border-box;
}

.search-container button {
  padding: 8px 12px;
  height: 38px;
  background-color: var(--day-dark);
  color: white;
  border: none;
  border-radius: 11px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: var(--day-darkest);
}

#validation-message {
  text-align: center;
  position: relative;
}

.degrees-container {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.degrees-container button {
  padding: 8px 12px;
  border-radius: 11px;
  border: none;
  margin: 8px;
  font-size: 1rem;
  color: white;
  background-color: var(--day-dark);
  cursor: pointer;
}

.degrees-container button:hover {
  background-color: var(--day-darkest);
}

.fahrenheit-button.active-unit,
.celsius-button.active-unit {
  background-color: var(--day-darkest);
  color: #fff;
}

.weather-container {
  display: grid;
  grid-template-rows: auto auto auto;
  background-color: rgba(255, 255, 255, 0.386);
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 11px;
  min-width: 300px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.15);
}

.current-weather-container {
  background-color: transparent;
  border-radius: 11px;
}

.location-container {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
}

.location-name {
  display: flex;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  padding-top: 10px;
  margin: 0;
}

.last-updated {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.conditions-container {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr, 1fr;
  justify-items: center;
  align-items: center;
}

.temp-info {
  grid-row: 1;
  grid-column: 1;
}

.current-temp {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0;
}

.conditions-icon {
  grid-row: 1;
  grid-column: 2;
}

.condition-info {
  grid-row: 2;
  grid-column: 2;
}

.more-details-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  padding: 8px;
  margin: 10px;
  border-radius: 11px;
  background-color: rgba(255, 255, 255, 0.386);
  text-align: center;
}

/* Responsive stacking for small screens */
@media (max-width: 600px) {
  .more-details-container {
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }
}

.more-details-container p {
  margin: 2px;
}

.humidity-title {
  grid-column: 1;
  grid-row: 1;
  font-weight: bold;
}

.wind-title {
  grid-column: 2;
  grid-row: 1;
  font-weight: bold;
}

.precip-title {
  grid-column: 3;
  grid-row: 1;
  font-weight: bold;
}

.sun-and-high-low-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  gap: 10px;
}

.sun-container {
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  background-color: rgba(255, 255, 255, 0.386);
  border-radius: 11px;
  padding: 10px;
}

.sun-title {
  grid-row: 1;
  grid-column: 1 / 3;
  text-align: center;
}

.sunrise-icon {
  grid-row: 2;
  grid-column: 1;
}

.sunset-icon {
  grid-row: 3;
  grid-column: 1;
  width: 15px;
  margin-right: 5px;
  justify-self: end;
}

.sunrise {
  grid-row: 2;
  grid-column: 2;
}

.sunset {
  grid-row: 3;
  grid-column: 2;
}

.high-low-container {
  display: grid;
  grid-template-columns: 1.8fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  background-color: rgba(255, 255, 255, 0.386);
  border-radius: 11px;
  padding: 10px;
}

.high-low-container,
.sun-container {
  justify-items: center;
  align-items: center;
}

.high-low-title {
  grid-row: 1;
  grid-column: 1 / 3;
  text-align: center;
}

.high-temp-icon {
  grid-row: 2;
  grid-column: 1;
}

.low-temp-icon {
  grid-row: 3;
  grid-column: 1;
}

.high-temp {
  grid-row: 2;
  grid-column: 2;
}

.low-temp {
  grid-row: 3;
  grid-column: 2;
}

.sunrise-icon,
.high-temp-icon,
.low-temp-icon {
  width: 25px;
  justify-self: end;
}

.sunrise,
.sunset,
.high-temp,
.low-temp {
  justify-self: start;
  padding-left: 5px;
}

.forecast-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  max-width: 100%;
  overflow-x: auto;
  min-width: 100px;
}

.day-container {
  display: grid;
  grid-template-rows: 20px 20px 40px 25px 65px 65px 45px;
  justify-items: center;
  align-items: center;
  text-align: center;
  background-color: rgba(37, 127, 244, 0.168);
  padding: 8px 2px;
  grid-row: auto;
  border-radius: 11px;
  min-width: 100px;
}

.day-container p {
  margin: 2px;
}

.day-of-week {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1rem;
}

.day-name {
  font-size: 0.9rem;
}

.day-temp-max {
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 15px;
}

.day-temp-min {
  font-size: 1rem;
}

.day-conditions {
  font-size: 0.9rem;
}

.day-precip-icon {
  position: relative;
}

.day-precip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 0.9rem;
}

/* Night-Mode */

body.night-mode {
  background: linear-gradient(
    var(--night-darkest),
    var(--night-dark),
    var(--night-medium)
  );
  color: white;
}

body.night-mode .header-title {
  color: white;
}

body.night-mode .weather-app-color {
  color: var(--night-lightest);
}

body.night-mode .icon {
  filter: brightness(0) invert(1);
}

body.night-mode .search-container button {
  background-color: var(--night-lightest);
}

body.night-mode .search-container button:hover {
  background-color: var(--night-light);
}

body.night-mode .degrees-container button {
  background-color: var(--night-lightest);
}

body.night-mode .degrees-container button:hover {
  background-color: var(--night-light);
}

body.night-mode .fahrenheit-button.active-unit {
  background-color: var(--night-light);
}

body.night-mode .celsius-button.active-unit {
  background-color: var(--night-light);
}

body.night-mode .day-container {
  background-color: rgba(2, 10, 45, 0.186);
}
